<h1>Projects!</h1>

<h2>Here are all the projects</h2>

<ul>
    {{#each Projects}}
    <h3>Project: {{ project_name }}</h3>
    <h3>Status: {{ project_status }}</h3>
    {{else}}
    <p>No projects created yet</p>
    {{/each}}
</ul>