<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="list-group todo-list">
                <li class="list-group-item new-item">
                    <form id="todo-form">
                        <div class="container">
                            <div class="row">
                                <div class="col-10">
                                    <input class="new-item form-control" placeholder="Add a todo" type="text"
                                        id="newTodo" />
                                </div>
                                <div class="col-2">
                                    <button type="submit" class="btn btn-success">Add Todo</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                <span class="todo-container">
                </span>
            </ul>
        </div>
    </div>
</div>